---
import { PageLayout } from '@astro-nx-depla/shared/layout';
import {
  Headline,
  PostsList as BlogList,
  Pagination,
} from '@astro-nx-depla/shared/ui';
import { app } from '@astro-nx-depla/website/app';

export const getStaticPaths = app.post.getPostTagListStaticPaths;

const { page, tag } = Astro.props;

const meta = app.post.getPostTagMetaByPage(page, tag);
---

<PageLayout meta={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-3xl">
    <Headline>Tag: {tag}</Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</PageLayout>
